.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

button
{
    width:100%;
    vertical-align: middle;
}

/* input[type=text],input[type=email],input[type=number]
{
    width:auto;
} */